[submodule "SmileMoreDentalClinic.github.io"]
	path = SmileMoreDentalClinic.github.io
	url = https://github.com/MalekDavid01/SmileMoreDentalClinic.github.io.git
[submodule "Project2SEG3525"]
	path = Project2SEG3525
	url = https://github.com/MalekDavid01/Project2SEG3525.git
